

.comp-cartao-omdb {
    display: flex;
    gap: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px #dbdbdb;
    width: 400px;
    border-radius: 7px;


    .img {
        display: inline-table;
        overflow: hidden;
            
        img {
            width: 150px;
            height: 200px;
            transition: .6s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
    
    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .titulos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    h1 {
        font: 600 22px/30px 'Poppins' !important;
        color: #000 !important;
        margin: 0px !important;
    }

    h2 {
        font: 600 16px/24px 'Poppins' !important;
        color: #000 !important;
        margin: 0px !important;
    }

    h3 {
        font: 600 16px/22px 'Poppins' !important;
        color: #000 !important;
        margin: 0px !important;
    }
}